// grid
$screen-xs-min = 320px
$screen-phone-max = 479px
$screen-phone-min = 480px
$screen-ipad-max = 639px
$screen-xs-max = 767px
$screen-sm-min = 768px
$screen-sm-max = 991px
$screen-md-min = 992px
$screen-md-max = 1199px
$screen-lg-min = 1200px