doctype html
html
	head
		meta(http-equiv="content-type" content="text/html; charset=utf-8")
		title Prestapro.ru: Список страниц
		link(rel="stylesheet" type="text/css" href="app/bootstrap.min.css")
		style(type="text/css").
			b {padding-right: 20px}
			b.padd {padding-right: 11px}
			hr {margin-top: 10px; margin-bottom: 10px}
	body
		.container
			h2(style="text-align: center") Prestapro.ru: Список страниц
			ul(style="margin: 0 auto 50px; width: 600px")
				li: a(href="docs/docs.html") Документация
				// pages:html 
				// endinject 
