@import '../../css/_vars'
.footer
	height: 130px
	background-color: rgba(52,52,52,0.9)
	@media (max-width: $screen-sm-min)
		height: 165px
	&__wrap
		height: 130px
		display: flex
	&__blocks
		align-self: center
		height: 53px
		width: 100%
		position: relative
